<!DOCTYPE html>
<html>
  <head>
    <title>Scores</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/p5@1.4.0/lib/p5.js"></script>
    <script type="text/javascript" src="javascripts/config.js"></script>
  </head>
  <body>
    <a href="/">Back to game</a>
    <div id="page-container">
      <ul>
        <% scores.map((result)=>{ %>
        <li><%= result.username %></li>
        <li><%= result.score %></li>
        <% }) %>
      </ul>
    </div>
  </body>
</html>
