<!DOCTYPE html>
<html>
	<head>
		<title>Scores</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<link
			rel="shortcut icon"
			type="image/png"
			href="./images/idlePlayer1CROPPED.png"
		/>
		<script src="https://cdn.jsdelivr.net/npm/p5@1.4.0/lib/p5.js"></script>
		<script type="text/javascript" src="javascripts/config.js"></script>
	</head>
	<body>
		<a href="/">
			<img
				border="0"
				alt="DEV"
				src="./images/idlePlayer1CROPPED.png"
				width="100"
				height="100"
			/>
			<div>Back To Game</div></a
		>

		<div class="score-container">
			<div class="Score-board-">
				<table style="width: 100%">
					<tr>
						<th>Player Name</th>
						<th>Player Score</th>
					</tr>
					<% scores.map((result)=>{ %>
					<tr>
						<td><%= result.username %></td>
						<td><%= result.score %></td>
					</tr>
					<% }) %>
				</table>
			</div>
		</div>
	</body>
</html>
