<!DOCTYPE html>
<html>
  <head>
    <title><%= About Us %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" type="image/png" href="./images/idlePlayer1CRxOPPED.png">
  </head>
  <body>
    <div id="page-header" ><img src='./images/aboutUs.png', height="50"></div>
      <div id="about-main-area">
      
      
      <div id="about-container">
        <div id="Ahsan">
          <h1>Ahsan</h1>
          <p><a href="https://github.com/ashtroboy79">Github (Ashtroboy79)</a></p>
          <p><img src='./images/mando.JPG', height="175"></p>
        </div>
        <div id="Amelia">
          <h1>Amelia</h1>
          <p><a href="https://github.com/sa-mcquanzie">Github (sa-mcquanzie)</a></p>
          <p><img src='./images/playerIdleAnimations.gif', height="175"></p>
        </div>
        <div id="Apps">
          <h1>Apps</h1>
          <p><a href="https://github.com/oddpotato">Github (Oddpotato)</a></p>
          <p><img src='./images/duckduck.jpeg', height="175"></p>
        </div>  
        <div id="Dan">
          <h1>Dan</h1>
          <p><a href="https://github.com/danroche10">Github (danroche10)</a></p>
          <p><img src='./images/idleMinotaur.gif', height="175"></p>
        </div>
        <div id="Will">
          <h1>Will</h1>
          <p><a href="https://github.com/willinlondon">Github (Willinlondon)</a></p>
          <p><img src='./images/Zoomer.gif', height="175"></p>
        </div>
      </div>
      
      <div id="page-footer"><a href='/'><img src='./images/backToTheGame.png', height="33"></a></div>

		</div>
	</body>
</html>
