html {
  padding: 0;
  margin: 0;
}

body {
  background-image: url("./assets/outerSpaceBackground.jpg");
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#page-container {
  display: grid;
  grid-template-rows: 10% 800px 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}

#page-header { grid-area: 1 / 1 / 2 / 2; }

#page-footer { grid-area: 3 / 1 / 4 / 2; }

#main-area {
  display: grid;
  grid-template-columns: 1fr 1200px 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "left-sidebar play-area right-sidebar";
  grid-area: 2 / 1 / 3 / 2;
}

#left-sidebar { grid-area: left-sidebar; }

#play-area {
  position: relative;
  justify-content: center;
  align-items: center;
  grid-area: play-area;
  margin-left: auto;
  margin-right: auto;
}

#buttonrow{
  position: relative;
  justify-content: center;
  top: 250px;
}

#wild1 {
  position: absolute;
  left: 575px;
}

#strike1 {
  position: absolute;
  left: 75px;
}

#flee1 {
  position: absolute;
  left: 350px;
}

#left {
  position: relative;
  align-items: left;
  bottom: 225px;
  left: 400px;
}

#right {
  position: relative;
  align-items: right;
  bottom: 225px;
  left: 750px;
}

#right-sidebar { grid-area: right-sidebar; }

#page-header, #page-footer {
  text-align: center;
  display:block;
  margin:auto;
}

#left-sidebar, #right-sidebar {
  
}

#left-sidebar img {
  position: absolute;
}

#about-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}

#about-container > div {
  justify-content: center;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

#Ahsan {
  grid-area: 1 / 1 / span 1 / span 2;
  color: #d4d9a6;
}

#Amelia {
  grid-area: 1 / 3 / span 1 / span 2;
  color: #d4d9a6;
}

#Apps {
  grid-area: 2 / 1 / span 1 / span 2;
  color: #d4d9a6;
}

#Dan {
  grid-area: 2 / 3 / span 1 / span 2;
  color: #d4d9a6;
}